sphinx>=4.0
sphinx_bootstrap_theme
sphinx-gallery
numpydoc
nbsphinx
seaborn>=0.12.0
matplotlib>=3.5.0
scipy>=1.10.0
numpy>=2.0.0
pandas>=2.0.0
joblib>=1.3.0
sqlalchemy
requests
pydub
pathos
jupyter_client
ipykernel
